---
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <div class="grid grid-cols-3 py-5 mx-16 mb-[25px]">
        <h1 class="text-3xl font-medium font-serif">ANDINOV</h1>
        <div></div>

        <div class="absolute right-[55px] mt-1 mr-1">
            <ThemeIcon />
        </div>
    </div>
</header>
